.Rproj.user
.Rhistory
.RData
.Ruserdata


*.png
*.docx
*.html


boot/data/
boot/initial

data/
model/
report/
output/
presentations_and_other_awg_stuff/
report_scripts/mapsQ1.pdf
report_scripts/mapsQ34.pdf
2025_her.27.20-24_RDBES_combined_BM.Rproj
data_for_2025_her.27.20-24_RDBES_combined_BM.zip
